[class^='login-']{
    position: absolute;
    width: 100%;
}

.login-cancel, .login-header{
    text-align: center;
    font-family: 'Raleway', sans;
    letter-spacing: 0.0625em;
}

.login-header{
    margin-top: 0.5em;
    padding-bottom: 0.25em;
    text-align: center;
    border-bottom: 0.0625em solid rgba(255,255,255,0.2);
    font-size: 1.5em;
    font-family: 'Raleway', sans;
    letter-spacing: 0.0625em;
}

.login-cancel{
    width: 12em;
    height: 1.625em;
    padding-top: 0.375em;
    /*vertical-align: central;*/
    bottom: 0;
    margin-bottom: 1em;
    font-size: 1.1875em;
    border: 0.125em solid rgba(255,255,255,0.2);
    border-radius: 1em;
    left: calc(50% - 6em);
}

.login-cancel:hover{
    background: rgba(255,255,255,0.2);
}